<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
      <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<body>
    <div class="container">
        <div class="row">
			<div class="col-md-5 mx-auto">
			<div id="first">
				<div class="myform form ">
					 <div class="logo mb-3">
						 <div class="col-md-12 text-center">
							<h1>House price of unit area</h1>
						 </div>
					</div>
                    <form role="form" action="/" method="POST">
                        {% csrf_token %}
                           <div class="form-group">
                              <label for="exampleInputEmail1">X1 transaction date :</label>
                              <input type="number" name="X1" id="X1" class="form-control" value="{{ X1 }}"placeholder="X1" required>                    
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">X2 house age :</label>
                                <input type="number" name="X2" id="X2" class="form-control" value="{{ X2 }}"placeholder="X1" required>
                            </div>
                              <div class="form-group">
                                <label for="exampleInputEmail1">X3 distance to the nearest MRT station :</label>
                                <input type="number" name="X3" id="X3" class="form-control" value="{{ X3 }}"placeholder="X1" required>                  
                              </div>
                              <div class="form-group">
                                <label for="exampleInputEmail1">X4 number of convenience stores :</label>
                                <input type="number" name="X4" id="X4" class="form-control" value="{{ X4 }}"placeholder="X1" required>                
                              </div>
                              <div class="form-group">
                                <label for="exampleInputEmail1">X5 latitude :</label>
                                <input type="number" name="X5" id="X5" class="form-control" value="{{ X5 }}"placeholder="X1" required>                    
                              </div>
                              <div class="form-group">
                                <label for="exampleInputEmail1">X6 longitude :</label>
                                <input type="number" name="X6" id="X6" class="form-control" value="{{ X6 }}"placeholder="X1" required>                    
                              </div>
                           <div class="form-group">
                            <label for="username" class="text-info"> <b>House price of unit area : {{ result }}</b></label><br>
                           </div>
                           <div class="col-md-12 text-center ">
                              <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">Sumbit</button>
                           </div>
</body>
</body>
</html>